{% extends "admin/base.html" %}

{% block css %}
<link href="/statics/admin/css/cell_style.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>会员管理</h2>
        <ol class="breadcrumb">
            对会员进行管理
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="ibox-content top-button">
            <div class="ibox-content form-inline">
                <a class="btn btn-primary" href="{{ url_for('admin.添加会员') }}" style="margin-right: 100px;">添加会员</a>
                <div class="form-group">
                    <label for="account" class="sr-only">会员{{ user['USER_IDENTITY_TEXT'] }}</label>
                    <input type="text" placeholder="会员{{ user['USER_IDENTITY_TEXT'] }}" id="account" class="form-control" value="{{ parameters.account }}">
                </div>
                <div class="form-group">
                    <select class="form-control" id="is_freeze">
                        <option value="">状态</option>
                        <option value="0" {% if parameters.is_freeze == '0' %}selected{% endif %}>正常</option>
                        <option value="1" {% if parameters.is_freeze == '1' %}selected{% endif %}>已冻结</option>
                    </select>
                </div>
                <button class="btn btn-white" type="button" onclick="form_submit()">搜索</button>
                <button class="btn btn-white" type="button" onclick="form_close()">清空</button>
                <script>
                    function form_submit(){
                        var parameter = ['account', 'is_freeze']
                        var location_href = "/admin/user/会员/1?is_search=1"
                        for (const key in parameter) {
                            value = $("#" + parameter[key]).val()
                            if(value != '' && value != 'None'){
                                location_href += '&' + parameter[key] + '=' + value
                            }
                        }
                        window.location.href = location_href
                    }

                    function form_close(){
                        $("#account").val('')
                        $("#is_freeze").val('')
                        form_submit()
                    }
                </script>
            </div>
        </div>
        <div class="ibox-content">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 6%;">#</th>
                        <th style="width: 10%;">昵称</th>
                        <th style="width: 10%;">{{ user['USER_IDENTITY_TEXT'] }}</th>
                        {% if user['USER_FUND_TYPE'] != [] %}
                        <th style="width: 30%;">余额</th>
                        {% endif %}
                        {% if user['USER_TOP_USER'] %}
                        <th style="width: 10%;">上级会员{{ user['USER_IDENTITY_TEXT'] }}</th>
                        {% endif %}
                        <th style="width: 10%;">注册时间</th>
                        <th style="width: 10%;">状态</th>
                        <th>操作</th>
                    </tr>
                </thead>
                <tbody>
                    {% for item in models.items %}
                    <tr id="tr{{ item.user_id }}">
                        <td>{{ item.user_id }}</td>
                        <td>{{ item.nickname }}</td>
                        <td><span class="{{ item.get_data('标签') }}">{{ item.account }}</span></td>
                        {% if user['USER_FUND_TYPE'] != [] %}
                        <td>
                            {% for key, value in item.fund().items() %}
                                {{ key }}: {{ value }}
                                {% if loop.index % 3 == 0 %}<br/>{% else %}&nbsp;&nbsp;&nbsp;&nbsp;{% endif %}
                            {% endfor %}
                        </td>
                        {% endif %}
                        {% if user['USER_TOP_USER'] %}
                        <td>{{ item.top_user.account }}</td>
                        {% endif %}
                        <td>{{ item.register_time }}</td>
                        <td id="freezeshow{{ item.user_id }}">{{ item.is_freeze_text() }}</td>
                        <td>
                            <a class="btn btn-xs btn-primary" href="{{ url_for('admin.会员编辑', id=item.user_id) }}">
                                <i class="fa fa-wrench"></i> 编辑
                            </a>
                            <a class="btn btn-xs btn-primary" href="{{ url_for('admin.会员详情', id=item.user_id) }}">
                                <i class="fa fa-address-card-o"></i> 详情
                            </a>
                            {% if user['USER_FUND_TYPE'] != [] %}
                            <a class="btn btn-xs btn-primary" href="{{ url_for('admin.会员充值', id=item.user_id) }}">
                                <i class="fa fa-dollar"></i> 充值
                            </a>
                            {% endif %}
                            {% if item.is_freeze == 0 %}
                            <a id="freeze{{ item.user_id }}" class="btn btn-xs btn-warning" href="###" onclick="freeze_item('{{ item.user_id }}')">
                                <i class="fa fa-asterisk"></i> 冻结
                            </a>
                            <a id="unfreeze{{ item.user_id }}" class="btn btn-xs btn-primary" href="###" onclick="freeze_item('{{ item.user_id }}')" style="display: none;">
                                <i class="fa fa-fire"></i> 解冻
                            </a>
                            {% else %}
                            <a id="freeze{{ item.user_id }}" class="btn btn-xs btn-warning" href="###" onclick="freeze_item('{{ item.user_id }}')" style="display: none;">
                                <i class="fa fa-asterisk"></i> 冻结
                            </a>
                            <a id="unfreeze{{ item.user_id }}" class="btn btn-xs btn-primary" href="###" onclick="freeze_item('{{ item.user_id }}')">
                                <i class="fa fa-fire"></i> 解冻
                            </a>
                            {% endif %}
                            {% if session['USER_DELETE'] == True %}
                            <a class="btn btn-xs btn-danger" href="###" onclick="delete_item('{{ item.user_id }}')">
                                <i class="fa fa-times"></i> 删除
                            </a>
                            {% endif %}
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
            <div style="padding-bottom: 20px;">
                {% import 'admin/pages.html' as pg %}
                {{ pg.my_paginate(models,'admin.会员') }}
            </div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}

<script src="/statics/layer/layer.js"></script>
<script>

    $("#set_cancel").click(function(){
        layer.closeAll();
    })

    function delete_item(id){
        layer.confirm('确认删除?', {
            btn: ['确认','取消'] //按钮
        }, function(){
            layer.closeAll()
            $.ajax({
                url: "/admin/user/删除会员提交/" + id,
                type: "post",
                success: function(data){
                    if(data.code == 1){
                        cell_msg('success', '删除会员', data.msg)
                        $("#tr" + id).hide()
                    }else{
                        cell_msg('error', '删除会员', data.msg)
                    }
                }
            })
        }, function(){
            layer.closeAll()
        });
    }

    function freeze_item(id){
        layer.confirm('确认此操作吗?', {
            btn: ['确认','取消'] //按钮
        }, function(){
            layer.closeAll()
            $.ajax({
                url: "/admin/user/冻结会员提交/" + id,
                type: "post",
                success: function(data){
                    if(data.code == 1){
                        cell_msg('success', '冻结/解冻会员', data.msg)
                        $("#freeze" + id).hide()
                        $("#unfreeze" + id).hide()
                        if(data.data == 1){
                            $("#unfreeze" + id).show()
                            $("#freezeshow" + id).html('冻结')
                        }else{
                            $("#freeze" + id).show()
                            $("#freezeshow" + id).html('正常')
                        }
                    }else{
                        cell_msg('error', '冻结/解冻会员', data.msg)
                    }
                }
            })
        }, function(){
            layer.closeAll()
        });
    }

</script>
{% endblock %}