{% extends "admin/base.html" %}

{% block css %}
<style>
    .table {
        margin-bottom: 1px;
        margin-top: 20px;
    }

    .ibox {
        margin-bottom: 1px;
    }

    .ibox-title {
        border-style: none;
        min-height: 12px;
    }

    .ibox-content {
        border-style: none;
        padding-top: 2px;
        padding-bottom: 2px;
    }

    .top-button  {
        padding-top: 20px;
    }

    .btn {
        margin-right: 10px;
    }
</style>
{% endblock %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>广告管理</h2>
        <ol class="breadcrumb">
            设置广告位并填充广告内容, 如图片, 一段文字, 富文本文章等.
            广告通常是仅展示用的数据
        </ol>
    </div>
    <div class="col-lg-2">
    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="ibox-content top-button">
            <a class="btn btn-primary" href="{{ url_for('admin.添加广告', pattern='广告位') }}">添加广告位</a>
            <a class="btn btn-primary" href="{{ url_for('admin.添加广告', pattern='广告') }}">添加广告</a>
        </div>
        <div class="ibox-content">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th style="width: 20%;">#</th>
                        <th style="width: 30%;">标题</th>
                        <th style="width: 30%;">内容</th>
                        <th style="width: 20%;">操作</th>
                    </tr>
                </thead>
            </table>
            {% for value_广告位 in 广告位 %}
            <div class="ibox float-e-margins" id="一级{{ value_广告位.ad_id }}">
                <div class="ibox-title">
                    <h5>{{ value_广告位.标题 }}</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a href="{{ url_for('admin.修改广告', id=value_广告位.ad_id) }}">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a onclick="delete_item('{{ value_广告位.ad_id }}')">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <table class="table table-bordered">
                        <tbody>
                            {% for value_广告 in 广告 %}
                            {% if value_广告.adv_id == value_广告位.ad_id %}
                            <tr class="二级{{ value_广告.ad_id }} 父级{{ value_广告位.ad_id }}">
                                <td style="width: 20%;">{{ value_广告.ad_id }}</td>
                                <td style="width: 30%;">{{ value_广告.标题 }}</td>
                                <td style="width: 30%;"></td>
                                <td style="width: 20%;">
                                    <a class="btn btn-xs btn-primary" href="{{ url_for('admin.修改广告', id=value_广告.ad_id) }}">
                                        <i class="fa fa-wrench"></i> 修改
                                    </a>
                                    <a class="btn btn-xs btn-danger" href="###" onclick="delete_item('{{ value_广告.ad_id }}')">
                                        <i class="fa fa-times"></i> 删除
                                    </a>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            {% endfor %}
            <div style="padding-bottom: 20px;"></div>
        </div>
    </div>
</div>

{% endblock %}

{% block js %}
<script src="/statics/layer/layer.js"></script>
<script>
    function delete_item(id){
        layer.confirm('确认删除?', {
            btn: ['确认','取消'] //按钮
        }, function(){
            layer.closeAll()
            $.ajax({
                url: "/admin/sys/删除目录提交/" + id,
                type: "post",
                success: function(data){
                    if(data.code == 1){
                        cell_msg('success', '删除目录', data.msg)
                        $("#一级" + id).hide()
                        $(".二级" + id).hide()
                        $(".父级" + id).hide()
                    }else{
                        cell_msg('error', '删除目录', data.msg)
                    }
                }
            })
        }, function(){
            layer.closeAll()
        });
    }
</script>
{% endblock %}