{% extends "admin/base.html" %}

{% block css %}

{% endblock %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>资料详情</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">主页</a>
            </li>
            <li>
                <a>应用</a>
            </li>
            <li class="active">
                <strong>资料详情</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">


    <div class="row m-b-lg m-t-lg">
        <div class="col-md-6">

            <div class="profile-image">
                <img src="static/picture/a4.jpg" class="img-circle circle-border m-b-md" alt="profile">
            </div>
            <div class="profile-info">
                <div class="">
                    <div>
                        <h2 class="no-margins">
                            小明
                        </h2>
                        <h4>超级CEO</h4>
                        <small>
                        这个家伙什么都没有留下！
                    </small>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-3">
            <table class="table small m-b-xs">
                <tbody>
                    <tr>
                        <td>
                            <strong>142</strong> 项目
                        </td>
                        <td>
                            <strong>22</strong> 关注
                        </td>

                    </tr>
                    <tr>
                        <td>
                            <strong>61</strong> 评论
                        </td>
                        <td>
                            <strong>54</strong> 文章
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <strong>154</strong> 标签
                        </td>
                        <td>
                            <strong>32</strong> 好友
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="col-md-3">
            <small>过去24小时销售</small>
            <h2 class="no-margins">206 480</h2>
            <div id="sparkline1"></div>
        </div>


    </div>
    <div class="row">

        <div class="col-lg-3">

            <div class="ibox">
                <div class="ibox-content">
                    <h3>我的简介</h3>

                    <p class="small">
                        这个家伙很懒，什么都不想告诉你！
                    </p>

                    <p class="small font-bold">
                        <span><i class="fa fa-circle text-navy"></i> Online status</span>
                    </p>

                </div>
            </div>

            <div class="ibox">
                <div class="ibox-content">
                    <h3>粉丝与好友</h3>
                    <p class="small">
                        If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing
                    </p>
                    <div class="user-friends">
                        <a href=""><img alt="image" class="img-circle" src="static/picture/a3.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="static/picture/a1.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="static/picture/a2.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="static/picture/a4.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="static/picture/a5.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="static/picture/a6.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="static/picture/a7.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="static/picture/a8.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="static/picture/a2.jpg"></a>
                        <a href=""><img alt="image" class="img-circle" src="static/picture/a1.jpg"></a>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-content">
                    <h3>个人文件</h3>
                    <ul class="list-unstyled file-list">
                        <li><a href=""><i class="fa fa-file"></i> Project_document.docx</a></li>
                        <li><a href=""><i class="fa fa-file-picture-o"></i> Logo_zender_company.jpg</a></li>
                        <li><a href=""><i class="fa fa-stack-exchange"></i> Email_from_Alex.mln</a></li>
                        <li><a href=""><i class="fa fa-file"></i> Contract_20_11_2014.docx</a></li>
                        <li><a href=""><i class="fa fa-file-powerpoint-o"></i> Presentation.pptx</a></li>
                        <li><a href=""><i class="fa fa-file"></i> 10_08_2015.docx</a></li>
                    </ul>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-content">
                    <h3>即时通讯</h3>

                    <p class="small">
                        发送信息给小明
                    </p>

                    <div class="form-group">
                        <label>主题</label>
                        <input type="email" class="form-control" placeholder="信息主题">
                    </div>
                    <div class="form-group">
                        <label>信息</label>
                        <textarea class="form-control" placeholder="信息内容" rows="3"></textarea>
                    </div>
                    <button class="btn btn-primary btn-block">发送</button>

                </div>
            </div>

        </div>

        <div class="col-lg-5">

            <div class="social-feed-box">

                <div class="pull-right social-action dropdown">
                    <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                    <i class="fa fa-angle-down"></i>
                </button>
                    <ul class="dropdown-menu m-t-xs">
                        <li><a href="#">配置</a></li>
                    </ul>
                </div>
                <div class="social-avatar">
                    <a href="" class="pull-left">
                        <img alt="image" src="static/picture/a1.jpg">
                    </a>
                    <div class="media-body">
                        <a href="#">
                        小明
                    </a>
                        <small class="text-muted">今天下午2017.12.12 4:21</small>
                    </div>
                </div>
                <div class="social-body">
                    <p>
                        土地是以它的肥沃和收获而被估价的；才能也是土地，不过它生产的不是粮食，而是真理。如果只能滋生瞑想和幻想的话，即使再大的才能也只是砂地或盐池，那上面连小草也长不出来的。
                    </p>

                    <div class="btn-group">
                        <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> 赞</button>
                        <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> 评论</button>
                        <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> 分享</button>
                    </div>
                </div>
                <div class="social-footer">
                    <div class="social-comment">
                        <a href="" class="pull-left">
                            <img alt="image" src="static/picture/a1.jpg">
                        </a>
                        <div class="media-body">
                            <a href="#">
                            小白
                        </a> 土地是以它的肥沃和收获而被估价的；才能也是土地，不过它生产的不是粮食，而是真理。如果只能滋生瞑想和幻想的话，即使再大的才能也只是砂地或盐池，那上面连小草也长不出来的。
                            <br>
                            <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 喜欢</a> -
                            <small class="text-muted">2017.12.12</small>
                        </div>
                    </div>

                    <div class="social-comment">
                        <a href="" class="pull-left">
                            <img alt="image" src="static/picture/a2.jpg">
                        </a>
                        <div class="media-body">
                            <a href="#">
                            小黑
                        </a> 土地是以它的肥沃和收获而被估价的；才能也是土地，不过它生产的不是粮食，而是真理。如果只能滋生瞑想和幻想的话，即使再大的才能也只是砂地或盐池，那上面连小草也长不出来的。
                            <br>
                            <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 喜欢</a> -
                            <small class="text-muted">2017.12.12</small>
                        </div>
                    </div>

                    <div class="social-comment">
                        <a href="" class="pull-left">
                            <img alt="image" src="static/picture/a3.jpg">
                        </a>
                        <div class="media-body">
                            <textarea class="form-control" placeholder="写评论..."></textarea>
                        </div>
                    </div>

                </div>

            </div>

            <div class="social-feed-box">

                <div class="pull-right social-action dropdown">
                    <button data-toggle="dropdown" class="dropdown-toggle btn-white">
                    <i class="fa fa-angle-down"></i>
                </button>
                    <ul class="dropdown-menu m-t-xs">
                        <li><a href="#">配置</a></li>
                    </ul>
                </div>
                <div class="social-avatar">
                    <a href="" class="pull-left">
                        <img alt="image" src="static/picture/a6.jpg">
                    </a>
                    <div class="media-body">
                        <a href="#">
                        小红
                    </a>
                        <small class="text-muted">今天下午2017.12.12 4:21</small>
                    </div>
                </div>
                <div class="social-body">
                    <p>
                        土地是以它的肥沃和收获而被估价的；才能也是土地，不过它生产的不是粮食，而是真理。如果只能滋生瞑想和幻想的话，即使再大的才能也只是砂地或盐池，那上面连小草也长不出来的。
                    </p>
                    <p>
                        土地是以它的肥沃和收获而被估价的；才能也是土地，不过它生产的不是粮食，而是真理。如果只能滋生瞑想和幻想的话，即使再大的才能也只是砂地或盐池，那上面连小草也长不出来的。
                    </p>
                    <img src="static/picture/3.jpg" class="img-responsive">
                    <div class="btn-group">
                        <button class="btn btn-white btn-xs"><i class="fa fa-thumbs-up"></i> 赞</button>
                        <button class="btn btn-white btn-xs"><i class="fa fa-comments"></i> 评论</button>
                        <button class="btn btn-white btn-xs"><i class="fa fa-share"></i> 分享</button>
                    </div>
                </div>
                <div class="social-footer">
                    <div class="social-comment">
                        <a href="" class="pull-left">
                            <img alt="image" src="static/picture/a1.jpg">
                        </a>
                        <div class="media-body">
                            <a href="#">
                            小明
                        </a> 土地是以它的肥沃和收获而被估价的；才能也是土地，不过它生产的不是粮食，而是真理。如果只能滋生瞑想和幻想的话，即使再大的才能也只是砂地或盐池，那上面连小草也长不出来的。
                            <br>
                            <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 26 喜欢</a> -
                            <small class="text-muted">2017.12.12</small>
                        </div>
                    </div>

                    <div class="social-comment">
                        <a href="" class="pull-left">
                            <img alt="image" src="static/picture/a2.jpg">
                        </a>
                        <div class="media-body">
                            <a href="#">
                            小黑
                        </a> 土地是以它的肥沃和收获而被估价的；才能也是土地，不过它生产的不是粮食，而是真理。如果只能滋生瞑想和幻想的话，即使再大的才能也只是砂地或盐池，那上面连小草也长不出来的。
                            <br>
                            <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 喜欢</a> -
                            <small class="text-muted">2017.12.12</small>
                        </div>
                    </div>

                    <div class="social-comment">
                        <a href="" class="pull-left">
                            <img alt="image" src="static/picture/a8.jpg">
                        </a>
                        <div class="media-body">
                            <a href="#">
                            小红
                        </a> 土地是以它的肥沃和收获而被估价的；才能也是土地，不过它生产的不是粮食，而是真理。如果只能滋生瞑想和幻想的话，即使再大的才能也只是砂地或盐池，那上面连小草也长不出来的。
                            <br>
                            <a href="#" class="small"><i class="fa fa-thumbs-up"></i> 11 喜欢</a> -
                            <small class="text-muted">2017.12.12</small>
                        </div>
                    </div>

                    <div class="social-comment">
                        <a href="" class="pull-left">
                            <img alt="image" src="static/picture/a3.jpg">
                        </a>
                        <div class="media-body">
                            <textarea class="form-control" placeholder="写评论..."></textarea>
                        </div>
                    </div>

                </div>

            </div>




        </div>
        <div class="col-lg-4 m-b-lg">
            <div id="vertical-timeline" class="vertical-container light-timeline no-margins">
                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-briefcase"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>下午有会议</h2>
                        <p>土地是以它的肥沃和收获而被估价的；才能也是土地，不过它生产的不是粮食，而是真理。如果只能滋生瞑想和幻想的话，即使再大的才能也只是砂地或盐池，那上面连小草也长不出来的。
                        </p>
                        <a href="#" class="btn btn-sm btn-primary"> 更多信息</a>
                        <span class="vertical-date">
                            今天 <br>
                            <small>12月12日</small>
                        </span>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon blue-bg">
                        <i class="fa fa-file-text"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>写演讲文档</h2>
                        <p>土地是以它的肥沃和收获而被估价的；才能也是土地，不过它生产的不是粮食，而是真理。如果只能滋生瞑想和幻想的话，即使再大的才能也只是砂地或盐池，那上面连小草也长不出来的。</p>
                        <a href="#" class="btn btn-sm btn-success"> 下载文件 </a>
                        <span class="vertical-date">
                            今天 <br>
                            <small>12月12日</small>
                        </span>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon lazur-bg">
                        <i class="fa fa-coffee"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>请同事喝咖啡</h2>
                        <p>土地是以它的肥沃和收获而被估价的；才能也是土地，不过它生产的不是粮食，而是真理。如果只能滋生瞑想和幻想的话，即使再大的才能也只是砂地或盐池，那上面连小草也长不出来的。</p>
                        <a href="#" class="btn btn-sm btn-info">阅读更多</a>
                        <span class="vertical-date"> 昨天 <br><small>12月12日</small></span>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon yellow-bg">
                        <i class="fa fa-phone"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>给老婆打电话</h2>
                        <p>土地是以它的肥沃和收获而被估价的；才能也是土地，不过它生产的不是粮食，而是真理。如果只能滋生瞑想和幻想的话，即使再大的才能也只是砂地或盐池，那上面连小草也长不出来的。</p>
                        <span class="vertical-date">昨天 <br><small>12月12日</small></span>
                    </div>
                </div>

                <div class="vertical-timeline-block">
                    <div class="vertical-timeline-icon navy-bg">
                        <i class="fa fa-comments"></i>
                    </div>

                    <div class="vertical-timeline-content">
                        <h2>与同事聊天</h2>
                        <p>土地是以它的肥沃和收获而被估价的；才能也是土地，不过它生产的不是粮食，而是真理。如果只能滋生瞑想和幻想的话，即使再大的才能也只是砂地或盐池，那上面连小草也长不出来的。</p>
                        <span class="vertical-date">昨天 <br><small>12月12日</small></span>
                    </div>
                </div>
            </div>

        </div>

    </div>

</div>
{% endblock %}

{% block js %}

{% endblock %}