{% extends "admin/base.html" %}

{% block css %}
{% endblock %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>Toastr通知</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">主页</a>
            </li>
            <li>
                <a>组件</a>
            </li>
            <li class="active">
                <strong>Toastr通知</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Toastr例子</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="title">标题</label>
                                <input id="title" type="text" class="form-control" placeholder="输入标题...">
                            </div>
                            <div class="form-group">
                                <label for="message">信息</label>
                                <textarea class="form-control" id="message" rows="3" placeholder="输入讯息..."></textarea>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox" for="closeButton">
                                <input id="closeButton" type="checkbox" value="checked" class="input-mini" checked/="">关闭按钮
                            </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox" for="addBehaviorOnToastClick">
                                <input id="addBehaviorOnToastClick" type="checkbox" value="checked" class="input-mini">添加Toast点击行为
                            </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox" for="debugInfo">
                                <input id="debugInfo" type="checkbox" value="checked" class="input-mini">调试
                            </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox" for="progressBar">
                                <input id="progressBar" type="checkbox" value="checked" class="input-mini" checked/="">进度条
                            </label>
                            </div>
                            <div class="checkbox">
                                <label class="checkbox" for="preventDuplicates">
                                <input id="preventDuplicates" type="checkbox" value="checked" class="input-mini">防止重复
                            </label>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group" id="toastTypeGroup">
                                <label>Toast类型</label>
                                <div class="radio">
                                    <label>
                                <input type="radio" name="toasts" value="success" checked="">成功
                            </label>
                                </div>
                                <div class="radio">
                                    <label class="radio">
                                <input type="radio" name="toasts" value="info">信息
                            </label>
                                </div>
                                <div class="radio">
                                    <label class="radio">
                                <input type="radio" name="toasts" value="warning">警告
                            </label>
                                </div>
                                <div class="radio">
                                    <label class="radio">
                                <input type="radio" name="toasts" value="error">错误
                            </label>
                                </div>
                            </div>
                            <div class="form-group" id="positionGroup">
                                <label>位置</label>
                                <div class="radio">
                                    <label>
                                <input type="radio" name="positions" value="toast-top-right" checked="">右上
                            </label>
                                </div>
                                <div class="radio">
                                    <label>
                                <input type="radio" name="positions" value="toast-bottom-right">右下
                            </label>
                                </div>
                                <div class="radio">
                                    <label>
                                <input type="radio" name="positions" value="toast-bottom-left">左下方
                            </label>
                                </div>
                                <div class="radio">
                                    <label>
                                <input type="radio" name="positions" value="toast-top-left">左上角
                            </label>
                                </div>
                                <div class="radio">
                                    <label>
                                <input type="radio" name="positions" value="toast-top-full-width">顶部全宽
                            </label>
                                </div>
                                <div class="radio">
                                    <label>
                                <input type="radio" name="positions" value="toast-bottom-full-width">底部全宽
                            </label>
                                </div>
                                <div class="radio">
                                    <label>
                                <input type="radio" name="positions" value="toast-top-center">顶级中心
                            </label>
                                </div>
                                <div class="radio">
                                    <label>
                                <input type="radio" name="positions" value="toast-bottom-center">底部中心
                            </label>
                                </div>
                            </div>
                        </div>

                        <div class="col-md-2">
                            <div class="form-group">
                                <label for="showEasing">显示宽松</label>
                                <input id="showEasing" type="text" placeholder="swing, linear" class="form-control" value="swing">
                            </div>
                            <div class="form-group">

                                <label for="hideEasing">隐藏宽松</label>
                                <input id="hideEasing" type="text" placeholder="swing, linear" class="form-control" value="linear">
                            </div>
                            <div class="form-group">

                                <label for="showMethod">显示方法</label>
                                <input id="showMethod" type="text" placeholder="show, fadeIn, slideDown" class="form-control" value="fadeIn">
                            </div>
                            <div class="form-group">

                                <label for="hideMethod">隐藏方法</label>
                                <input id="hideMethod" type="text" placeholder="hide, fadeOut, slideUp" class="form-control" value="fadeOut">
                            </div>
                        </div>

                        <div class="col-md-3">
                            <div class="form-group">
                                <label for="showDuration">显示持续时间</label>
                                <input id="showDuration" type="text" placeholder="ms" class="form-control" value="400">
                            </div>
                            <div class="form-group">
                                <label for="hideDuration">隐藏时间</label>
                                <input id="hideDuration" type="text" placeholder="ms" class="form-control" value="1000">
                            </div>
                            <div class="form-group">
                                <label for="timeOut">时间到</label>
                                <input id="timeOut" type="text" placeholder="ms" class="form-control" value="7000">
                            </div>
                            <div class="form-group">
                                <label for="extendedTimeOut">延长超时</label>
                                <input id="extendedTimeOut" type="text" placeholder="ms" class="form-control" value="1000">
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="col-lg-12">
                            <button type="button" class="btn btn-primary" id="showtoast">显示Toast</button>
                            <button type="button" class="btn btn-white" id="cleartoasts">明确Toasts</button>
                            <button type="button" class="btn btn-white" id="clearlasttoast">清除最后Toast</button>
                            <button type="button" class="btn btn-white" id="showsimple">显示简单的选项</button>
                        </div>
                    </div>

                    <div class="row m-t-lg">
                        <div class="col-lg-12">
                            <small>JSON中的Toastr选项</small>
                            <pre id="toastrOptions" class="p-m"></pre>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>工具提示和移动</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content text-center">
                    <h4>触动提示 <small></small></h4>
                    <div class="tooltip-demo">
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="left" title="提示">左边的工具提示</button>
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="top" title="提示">顶部的工具提示</button>
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="bottom" title="提示">底部的工具提示</button>
                        <button type="button" class="btn btn-default" data-toggle="tooltip" data-placement="right" title="提示">右边的工具提示</button>
                    </div>
                    <br>
                    <h4>点击气泡提示</h4>
                    <div class="tooltip-demo text-center">
                        <button type="button" class="btn btn-primary" data-toggle="popover" data-placement="auto left" data-content="气泡提示">
                    气泡提示左
                </button>
                        <button type="button" class="btn btn-primary" data-toggle="popover" data-placement="auto top" data-content="气泡提示">
                    气泡提示顶部
                </button>
                        <button type="button" class="btn btn-primary" data-toggle="popover" data-placement="auto bottom" data-content="气泡提示">
                    气泡提示底部
                </button>
                        <button type="button" class="btn btn-primary" data-toggle="popover" data-placement="auto right" data-content="气泡提示">
                    气泡提示右
                </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}
<script type="text/javascript">
    $(function() {
        var i = -1;
        var toastCount = 0;
        var $toastlast;
        var getMessage = function() {
            var msg = '嗨，欢迎来到inspinia中文。我是演示。';
            return msg;
        };

        $('#showsimple').click(function() {
            // Display a success toast, with a title
            toastr.success('没有任何选择', '简单的通知!')
        });
        $('#showtoast').click(function() {
            var shortCutFunction = $("#toastTypeGroup input:radio:checked").val();
            var msg = $('#message').val();
            var title = $('#title').val() || '';
            var $showDuration = $('#showDuration');
            var $hideDuration = $('#hideDuration');
            var $timeOut = $('#timeOut');
            var $extendedTimeOut = $('#extendedTimeOut');
            var $showEasing = $('#showEasing');
            var $hideEasing = $('#hideEasing');
            var $showMethod = $('#showMethod');
            var $hideMethod = $('#hideMethod');
            var toastIndex = toastCount++;
            toastr.options = {
                closeButton: $('#closeButton').prop('checked'),
                debug: $('#debugInfo').prop('checked'),
                progressBar: $('#progressBar').prop('checked'),
                preventDuplicates: $('#preventDuplicates').prop('checked'),
                positionClass: $('#positionGroup input:radio:checked').val() || 'toast-top-right',
                onclick: null
            };
            if ($('#addBehaviorOnToastClick').prop('checked')) {
                toastr.options.onclick = function() {
                    alert('消失后，您可以执行一些自定义操作');
                };
            }
            if ($showDuration.val().length) {
                toastr.options.showDuration = $showDuration.val();
            }
            if ($hideDuration.val().length) {
                toastr.options.hideDuration = $hideDuration.val();
            }
            if ($timeOut.val().length) {
                toastr.options.timeOut = $timeOut.val();
            }
            if ($extendedTimeOut.val().length) {
                toastr.options.extendedTimeOut = $extendedTimeOut.val();
            }
            if ($showEasing.val().length) {
                toastr.options.showEasing = $showEasing.val();
            }
            if ($hideEasing.val().length) {
                toastr.options.hideEasing = $hideEasing.val();
            }
            if ($showMethod.val().length) {
                toastr.options.showMethod = $showMethod.val();
            }
            if ($hideMethod.val().length) {
                toastr.options.hideMethod = $hideMethod.val();
            }
            if (!msg) {
                msg = getMessage();
            }
            $("#toastrOptions").text("Command: toastr[" +
                shortCutFunction +
                "](\"" +
                msg +
                (title ? "\", \"" + title : '') +
                "\")\n\ntoastr.options = " +
                JSON.stringify(toastr.options, null, 2)
            );
            var $toast = toastr[shortCutFunction](msg, title); // Wire up an event handler to a button in the toast, if it exists
            $toastlast = $toast;
            if ($toast.find('#okBtn').length) {
                $toast.delegate('#okBtn', 'click', function() {
                    alert('you clicked me. i was toast #' + toastIndex + '. goodbye!');
                    $toast.remove();
                });
            }
            if ($toast.find('#surpriseBtn').length) {
                $toast.delegate('#surpriseBtn', 'click', function() {
                    alert('Surprise! you clicked me. i was toast #' + toastIndex + '. You could perform an action here.');
                });
            }
        });

        function getLastToast() {
            return $toastlast;
        }
        $('#clearlasttoast').click(function() {
            toastr.clear(getLastToast());
        });
        $('#cleartoasts').click(function() {
            toastr.clear();
        });
    })
</script>
{% endblock %}