{% extends "admin/base.html" %}

{% block css %}

{% endblock %}

{% block content %}
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>聊天窗口</h2>
                    <ol class="breadcrumb">
                        <li>
                            <a href="index.html">主页</a>
                        </li>
                        <li>
                            <a>组件</a>
                        </li>
                        <li class="active">
                            <strong>聊天窗口</strong>
                        </li>
                    </ol>
                </div>
                <div class="col-lg-2">
                </div>
            </div>
            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox float-e-margins">
                            <div class="ibox-content">
                                <strong>聊天室 </strong> 可用于在您的应用程序中创建聊天室。 您还可以使用右侧的小型聊天来提供现场讨论。
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="ibox chat-view">
                            <div class="ibox-title">
                                <small class="pull-right text-muted">最后消息：2017年12月26日星期一 18:39:23</small> 聊天室面板
                            </div>
                            <div class="ibox-content">
                                <div class="row">
                                    <div class="col-md-9 ">
                                        <div class="chat-discussion">
                                            <div class="chat-message left">
                                                <img class="message-avatar" src="static/picture/a1.jpg" alt="">
                                                <div class="message">
                                                    <a class="message-author" href="#"> 小明 </a>
                                                    <span class="message-date">  2017年12月25日星期五 - 11:12:36 </span>
                                                    <span class="message-content">
											聊天互动内容信息
                                            </span>
                                                </div>
                                            </div>
                                            <div class="chat-message right">
                                                <img class="message-avatar" src="static/picture/a4.jpg" alt="">
                                                <div class="message">
                                                    <a class="message-author" href="#"> 小明 </a>
                                                    <span class="message-date">  2017年12月25日星期五 - 11:12:36 </span>
                                                    <span class="message-content">
											聊天互动内容信息
                                            </span>
                                                </div>
                                            </div>
                                            <div class="chat-message right">
                                                <img class="message-avatar" src="static/picture/a2.jpg" alt="">
                                                <div class="message">
                                                    <a class="message-author" href="#"> 小明 </a>
                                                    <span class="message-date">  2017年12月25日星期五 - 11:12:36 </span>
                                                    <span class="message-content">
											聊天互动内容信息
                                            </span>
                                                </div>
                                            </div>
                                            <div class="chat-message left">
                                                <img class="message-avatar" src="static/picture/a5.jpg" alt="">
                                                <div class="message">
                                                    <a class="message-author" href="#"> 小明 </a>
                                                    <span class="message-date">  2017年12月25日星期五 - 11:12:36 </span>
                                                    <span class="message-content">
											聊天互动内容信息
                                            </span>
                                                </div>
                                            </div>
                                            <div class="chat-message right">
                                                <img class="message-avatar" src="static/picture/a6.jpg" alt="">
                                                <div class="message">
                                                    <a class="message-author" href="#"> 小明 </a>
                                                    <span class="message-date">  2017年12月25日星期五 - 11:12:36 </span>
                                                    <span class="message-content">
											聊天互动内容信息
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-3">
                                        <div class="chat-users">
                                            <div class="users-list">
                                                <div class="chat-user">
                                                    <img class="chat-avatar" src="static/picture/a4.jpg" alt="">
                                                    <div class="chat-user-name">
                                                        <a href="#">小明</a>
                                                    </div>
                                                </div>
                                                <div class="chat-user">
                                                    <img class="chat-avatar" src="static/picture/a1.jpg" alt="">
                                                    <div class="chat-user-name">
                                                        <a href="#">小明</a>
                                                    </div>
                                                </div>
                                                <div class="chat-user">
                                                    <span class="pull-right label label-primary">在线</span>
                                                    <img class="chat-avatar" src="static/picture/a2.jpg" alt="">
                                                    <div class="chat-user-name">
                                                        <a href="#">小明</a>
                                                    </div>
                                                </div>
                                                <div class="chat-user">
                                                    <span class="pull-right label label-primary">在线</span>
                                                    <img class="chat-avatar" src="static/picture/a3.jpg" alt="">
                                                    <div class="chat-user-name">
                                                        <a href="#">小明</a>
                                                    </div>
                                                </div>
                                                <div class="chat-user">
                                                    <img class="chat-avatar" src="static/picture/a5.jpg" alt="">
                                                    <div class="chat-user-name">
                                                        <a href="#">小明</a>
                                                    </div>
                                                </div>
                                                <div class="chat-user">
                                                    <img class="chat-avatar" src="static/picture/a6.jpg" alt="">
                                                    <div class="chat-user-name">
                                                        <a href="#">小明</a>
                                                    </div>
                                                </div>
                                                <div class="chat-user">
                                                    <img class="chat-avatar" src="static/picture/a2.jpg" alt="">
                                                    <div class="chat-user-name">
                                                        <a href="#">小明</a>
                                                    </div>
                                                </div>
                                                <div class="chat-user">
                                                    <span class="pull-right label label-primary">在线</span>
                                                    <img class="chat-avatar" src="static/picture/a3.jpg" alt="">
                                                    <div class="chat-user-name">
                                                        <a href="#">小明</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="chat-message-form">
                                            <div class="form-group">
                                                <textarea class="form-control message-input" name="message" placeholder="输入聊天消息"></textarea>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            {% endblock %}

            {% block js %}
            
            {% endblock %}