{% extends "admin/base.html" %}

{% block css %}
<!--单选复选框-->
<link href="/statics/admin/css/awesome-bootstrap-checkbox.css" rel="stylesheet">
<!--向导-->
<link href="/statics/admin/css/custom.css" rel="stylesheet">
<link href="/statics/admin/css/jquery.steps.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>表单</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">主页</a>
            </li>
            <li>
                <a>表单</a>
            </li>
            <li class="active">
                <strong>基本表单</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>基本表单 <small>简单的登录表单示例</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="col-sm-6 b-r">
                            <h3 class="m-t-none m-b">登录</h3>
                            <p>登录获得更多经验。</p>
                            <form role="form">
                                <div class="form-group"><label>电子邮件</label> <input type="email" placeholder="Enter email" class="form-control"></div>
                                <div class="form-group"><label>密码</label> <input type="password" placeholder="Password" class="form-control"></div>
                                <div>
                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>登录</strong></button>
                                    <label> <input type="checkbox" class="i-checks"> 记住密码 </label>
                                </div>
                            </form>
                        </div>
                        <div class="col-sm-6">
                            <h4>非平台会员?</h4>
                            <p>您可以创建一个帐户:</p>
                            <p class="text-center">
                                <a href=""><i class="fa fa-sign-in big-icon"></i></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>水平表单</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form class="form-horizontal">
                        <p>今天登录获得更多经验。</p>
                        <div class="form-group"><label class="col-lg-2 control-label">电子邮件</label>

                            <div class="col-lg-10"><input type="email" placeholder="请输入邮件地址" class="form-control"> <span class="help-block m-b-none">示例块级帮助文本。</span>
                            </div>
                        </div>
                        <div class="form-group"><label class="col-lg-2 control-label">密码</label>

                            <div class="col-lg-10"><input type="password" placeholder="请输入密码" class="form-control"></div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <div class="i-checks"><label> <input type="checkbox"><i></i> 记住密码 </label></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-offset-2 col-lg-10">
                                <button class="btn btn-sm btn-white" type="submit">登录</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-8">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>内联表单</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form role="form" class="form-inline">
                        <div class="form-group">
                            <label for="exampleInputEmail2" class="sr-only">电子邮件地址</label>
                            <input type="email" placeholder="请输入电子邮件" id="exampleInputEmail2" class="form-control">
                        </div>
                        <div class="form-group">
                            <label for="exampleInputPassword2" class="sr-only">密码</label>
                            <input type="password" placeholder="请输入密码" id="exampleInputPassword2" class="form-control">
                        </div>
                        <div class="checkbox m-r-xs">
                            <input type="checkbox" id="checkbox1">
                            <label for="checkbox1">
                            记住密码
                        </label>
                        </div>
                        <button class="btn btn-white" type="submit">登录</button>
                    </form>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>模态表单 <small>在模式框中登录的示例</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="text-center">
                        <a data-toggle="modal" class="btn btn-primary" href="#modal-form">弹窗登录模式框</a>
                    </div>
                    <div id="modal-form" class="modal fade" aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-body">
                                    <div class="row">
                                        <div class="col-sm-6 b-r">
                                            <h3 class="m-t-none m-b">登录</h3>

                                            <p>今天登录获得更多经验。</p>

                                            <form role="form">
                                                <div class="form-group"><label>电子邮件</label> <input type="email" placeholder="请输入电子邮件" class="form-control"></div>
                                                <div class="form-group"><label>密码</label> <input type="password" placeholder="请输入密码" class="form-control"></div>
                                                <div>
                                                    <button class="btn btn-sm btn-primary pull-right m-t-n-xs" type="submit"><strong>登录</strong></button>
                                                    <label> <input type="checkbox" class="i-checks"> 记住密码 </label>
                                                </div>
                                            </form>
                                        </div>
                                        <div class="col-sm-6">
                                            <h4>非平台会员?</h4>
                                            <p>您可以创建一个帐户:</p>
                                            <p class="text-center">
                                                <a href=""><i class="fa fa-sign-in big-icon"></i></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>所有表单元素 <small>有自定义复选框和radion元素。</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <form method="get" class="form-horizontal">
                        <div class="form-group"><label class="col-sm-2 control-label">正常</label>

                            <div class="col-sm-10"><input type="text" class="form-control"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">辅助文本</label>
                            <div class="col-sm-10"><input type="text" class="form-control"> <span class="help-block m-b-none">这里可以显示说明、帮助、描述等信息</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">密码</label>

                            <div class="col-sm-10"><input type="password" class="form-control" name="password"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">占位符</label>

                            <div class="col-sm-10"><input type="text" placeholder="占位符" class="form-control"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-lg-2 control-label">禁用</label>

                            <div class="col-lg-10"><input type="text" disabled="" placeholder="禁用输入..." class="form-control"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-lg-2 control-label">静态控制</label>

                            <div class="col-lg-10">
                                <p class="form-control-static">email@example.com</p>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">复选框和radios <br>
                        <small class="text-navy">正常引导元素</small></label>

                            <div class="col-sm-10">
                                <div><label> <input type="checkbox" value=""> 必选项 </label></div>
                                <div><label> <input type="radio" checked="" value="option1" id="optionsRadios1" name="optionsRadios"> 未选中 </label></div>
                                <div><label> <input type="radio" value="option2" id="optionsRadios2" name="optionsRadios"> 选中 </label></div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">内联复选框</label>

                            <div class="col-sm-10"><label class="checkbox-inline"> <input type="checkbox" value="option1" id="inlineCheckbox1"> a </label> <label class="checkbox-inline">
                            <input type="checkbox" value="option2" id="inlineCheckbox2"> b </label> <label class="checkbox-inline">
                            <input type="checkbox" value="option3" id="inlineCheckbox3"> c </label></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">复选框 &amp; radios <br><small class="text-navy">自定义元素</small></label>

                            <div class="col-sm-10">
                                <div class="i-checks"><label> <input type="checkbox" value=""> <i></i> 选项一 </label></div>
                                <div class="i-checks"><label> <input type="checkbox" value="" checked=""> <i></i> 选项二 </label></div>
                                <div class="i-checks"><label> <input type="checkbox" value="" disabled="" checked=""> <i></i> 选项三检查和禁用 </label></div>
                                <div class="i-checks"><label> <input type="checkbox" value="" disabled=""> <i></i> 选项四禁用 </label></div>
                                <div class="i-checks"><label> <input type="radio" value="option1" name="a"> <i></i> 选项一 </label></div>
                                <div class="i-checks"><label> <input type="radio" checked="" value="option2" name="a"> <i></i> 选项二 </label></div>
                                <div class="i-checks"><label> <input type="radio" disabled="" checked="" value="option2"> <i></i> 选项三检查和禁用 </label></div>
                                <div class="i-checks"><label> <input type="radio" disabled="" name="a"> <i></i> 选项四禁用 </label></div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">内联复选框</label>

                            <div class="col-sm-10"><label class="checkbox-inline i-checks"> <input type="checkbox" value="option1">a </label>
                                <label class="checkbox-inline i-checks"> <input type="checkbox" value="option2"> b </label>
                                <label class="checkbox-inline i-checks"> <input type="checkbox" value="option3"> c </label></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">选择</label>

                            <div class="col-sm-10"><select class="form-control m-b" name="account">
                            <option>选项 1</option>
                            <option>选项 2</option>
                            <option>选项 3</option>
                            <option>选项 4</option>
                        </select>

                                <div class="col-lg-4 m-l-n"><select class="form-control" multiple="">
                                <option>选项 1</option>
                                <option>选项 2</option>
                                <option>选项 3</option>
                                <option>选项 4</option>
                            </select></div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group has-success"><label class="col-sm-2 control-label">输入成功</label>

                            <div class="col-sm-10"><input type="text" class="form-control"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group has-warning"><label class="col-sm-2 control-label">输入警告</label>

                            <div class="col-sm-10"><input type="text" class="form-control"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group has-error"><label class="col-sm-2 control-label">输入错误</label>

                            <div class="col-sm-10"><input type="text" class="form-control"></div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">控制大小</label>

                            <div class="col-sm-10"><input type="text" placeholder=".input-lg" class="form-control input-lg m-b">
                                <input type="text" placeholder="Default input" class="form-control m-b"> <input type="text" placeholder=".input-sm" class="form-control input-sm">
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">列尺寸</label>

                            <div class="col-sm-10">
                                <div class="row">
                                    <div class="col-md-2"><input type="text" placeholder=".col-md-2" class="form-control"></div>
                                    <div class="col-md-3"><input type="text" placeholder=".col-md-3" class="form-control"></div>
                                    <div class="col-md-4"><input type="text" placeholder=".col-md-4" class="form-control"></div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">输入组</label>

                            <div class="col-sm-10">
                                <div class="input-group m-b"><span class="input-group-addon">@</span> <input type="text" placeholder="用户名" class="form-control"></div>
                                <div class="input-group m-b"><input type="text" class="form-control"> <span class="input-group-addon">.00</span></div>
                                <div class="input-group m-b"><span class="input-group-addon">$</span> <input type="text" class="form-control"> <span class="input-group-addon">.00</span></div>
                                <div class="input-group m-b"><span class="input-group-addon"> <input type="checkbox"> </span> <input type="text" class="form-control"></div>
                                <div class="input-group"><span class="input-group-addon"> <input type="radio"> </span> <input type="text" class="form-control"></div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">按钮插件</label>

                            <div class="col-sm-10">
                                <div class="input-group m-b"><span class="input-group-btn">
                                <button type="button" class="btn btn-primary">搜索</button> </span> <input type="text" class="form-control">
                                </div>
                                <div class="input-group"><input type="text" class="form-control"> <span class="input-group-btn"> <button type="button" class="btn btn-primary">搜索
                            </button> </span></div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">下拉菜单</label>

                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">操作 <span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">操作</a></li>
                                            <li><a href="#">复制</a></li>
                                            <li><a href="#">粘贴</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">收藏</a></li>
                                        </ul>
                                    </div>
                                    <input type="text" class="form-control"></div>
                                <div class="input-group"><input type="text" class="form-control">

                                    <div class="input-group-btn">
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button">操作 <span class="caret"></span></button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#">操作</a></li>
                                            <li><a href="#">复制</a></li>
                                            <li><a href="#">粘贴</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">收藏</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group"><label class="col-sm-2 control-label">分段</label>

                            <div class="col-sm-10">
                                <div class="input-group m-b">
                                    <div class="input-group-btn">
                                        <button tabindex="-1" class="btn btn-white" type="button">操作</button>
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button"><span class="caret"></span></button>
                                        <ul class="dropdown-menu">
                                            <li><a href="#">操作</a></li>
                                            <li><a href="#">复制</a></li>
                                            <li><a href="#">粘贴</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">收藏</a></li>
                                        </ul>
                                    </div>
                                    <input type="text" class="form-control"></div>
                                <div class="input-group"><input type="text" class="form-control">

                                    <div class="input-group-btn">
                                        <button tabindex="-1" class="btn btn-white" type="button">操作</button>
                                        <button data-toggle="dropdown" class="btn btn-white dropdown-toggle" type="button"><span class="caret"></span></button>
                                        <ul class="dropdown-menu pull-right">
                                            <li><a href="#">操作</a></li>
                                            <li><a href="#">复制</a></li>
                                            <li><a href="#">粘贴</a></li>
                                            <li class="divider"></li>
                                            <li><a href="#">收藏</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <div class="col-sm-4 col-sm-offset-2">
                                <button class="btn btn-white" type="submit">取消</button>
                                <button class="btn btn-primary" type="submit">保存更改</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title  back-change">
                    <h5>Awesome bootstrap复选框</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-4">
                            <fieldset>
                                <h3>
                                    基本
                                </h3>
                                <p>
                                    支持引导牌颜色: <code>.checkbox-primary</code>, <code>.checkbox-info</code> 等.
                                </p>
                                <div class="checkbox">
                                    <input id="checkbox1" type="checkbox">
                                    <label for="checkbox1">
                                    默认
                                </label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox2" type="checkbox" checked="">
                                    <label for="checkbox2">
                                    主要
                                </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    <input id="checkbox3" type="checkbox">
                                    <label for="checkbox3">
                                    成功
                                </label>
                                </div>
                                <div class="checkbox checkbox-info">
                                    <input id="checkbox4" type="checkbox">
                                    <label for="checkbox4">
                                    信息
                                </label>
                                </div>
                                <div class="checkbox checkbox-warning">
                                    <input id="checkbox5" type="checkbox" checked="">
                                    <label for="checkbox5">
                                    警告
                                </label>
                                </div>
                                <div class="checkbox checkbox-danger">
                                    <input id="checkbox6" type="checkbox" checked="">
                                    <label for="checkbox6">
                                    进行检查
                                </label>
                                </div>
                                <p>没有标签文本的复选框</p>
                                <div class="checkbox">
                                    <input type="checkbox" id="singleCheckbox1" value="option1" aria-label="Single checkbox One">
                                    <label></label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input type="checkbox" id="singleCheckbox2" value="option2" checked="" aria-label="Single checkbox Two">
                                    <label></label>
                                </div>
                                <p>内联复选框</p>
                                <div class="checkbox checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label for="inlineCheckbox1"> 内联一 </label>
                                </div>
                                <div class="checkbox checkbox-success checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option1" checked="">
                                    <label for="inlineCheckbox2"> 内联二 </label>
                                </div>
                                <div class="checkbox checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox3" value="option1">
                                    <label for="inlineCheckbox3"> 内联三 </label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <h3>
                                    盘旋
                                </h3>
                                <p>
                                    <code>.checkbox-circle</code> 圆度
                                </p>
                                <div class="checkbox checkbox-circle">
                                    <input id="checkbox7" type="checkbox">
                                    <label for="checkbox7">
                                    简单的圆
                                </label>
                                </div>
                                <div class="checkbox checkbox-info checkbox-circle">
                                    <input id="checkbox8" type="checkbox" checked="">
                                    <label for="checkbox8">
                                    简单圆圆
                                </label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <h3>
                                    Radios
                                </h3>
                                <p>
                                    支持引导牌颜色： <code>.radio-primary</code>, <code>.radio-danger</code> 等.
                                </p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio1" value="option1" checked="">
                                            <label for="radio1">
                                            小
                                        </label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio2" value="option2">
                                            <label for="radio2">
                                            大
                                        </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="radio radio-danger">
                                            <input type="radio" name="radio2" id="radio3" value="option1">
                                            <label for="radio3">
                                            下一个
                                        </label>
                                        </div>
                                        <div class="radio radio-danger">
                                            <input type="radio" name="radio2" id="radio4" value="option2" checked="">
                                            <label for="radio4">
                                            上一个
                                        </label>
                                        </div>
                                    </div>
                                </div>
                                <p>Radios无标签文字</p>
                                <div class="radio">
                                    <input type="radio" id="singleRadio1" value="option1" name="radioSingle1" aria-label="Single radio One">
                                    <label></label>
                                </div>
                                <div class="radio radio-success">
                                    <input type="radio" id="singleRadio2" value="option2" name="radioSingle1" checked="" aria-label="Single radio Two">
                                    <label></label>
                                </div>
                                <p>Radios内联</p>
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                    <label for="inlineRadio1"> 内联一 </label>
                                </div>
                                <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                    <label for="inlineRadio2"> 内联二 </label>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-5">
            <div class="jumbotron">
                <h1>步骤</h1>
                <p>智能UI组件，允许您轻松创建类似向导的界面。</p>
                <p><a href="javascript:;" target="_blank" class="btn btn-primary btn-lg" role="button">了解更多关于jQuery的步骤</a>
                </p>
            </div>
        </div>
        <div class="col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>基本向导</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        这是Step的基本例子
                    </p>
                    <div id="wizard">
                        <h1>第一步</h1>
                        <div class="step-content">
                            <div class="text-center m-t-md">
                                <h2>这是第1步</h2>
                                <p>
                                    我是第一个内容
                                </p>
                            </div>
                        </div>

                        <h1>第二步</h1>
                        <div class="step-content">
                            <div class="text-center m-t-md">
                                <h2>这是第2步</h2>
                                <p>
                                    我是第二个内容
                                </p>
                            </div>
                        </div>

                        <h1>第三步</h1>
                        <div class="step-content">
                            <div class="text-center m-t-md">
                                <h2>这是第3步</h2>
                                <p>
                                    我是第三个内容
                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js%}
    <!--向导-->

    <!-- Steps -->
    <script src="/statics/admin/js/jquery.steps.min.js"></script>


    <script>
        $(document).ready(function() {
            $("#wizard").steps();
            $("#form").steps({
                bodyTag: "fieldset",
                onStepChanging: function(event, currentIndex, newIndex) {
                    // Always allow going backward even if the current step contains invalid fields!
                    if (currentIndex > newIndex) {
                        return true;
                    }

                    // Forbid suppressing "Warning" step if the user is to young
                    if (newIndex === 3 && Number($("#age").val()) < 18) {
                        return false;
                    }

                    var form = $(this);

                    // Clean up if user went backward before
                    if (currentIndex < newIndex) {
                        // To remove error styles
                        $(".body:eq(" + newIndex + ") label.error", form).remove();
                        $(".body:eq(" + newIndex + ") .error", form).removeClass("error");
                    }

                    // Disable validation on fields that are disabled or hidden.
                    form.validate().settings.ignore = ":disabled,:hidden";

                    // Start validation; Prevent going forward if false
                    return form.valid();
                },
                onStepChanged: function(event, currentIndex, priorIndex) {
                    // Suppress (skip) "Warning" step if the user is old enough.
                    if (currentIndex === 2 && Number($("#age").val()) >= 18) {
                        $(this).steps("下一个");
                    }

                    // Suppress (skip) "Warning" step if the user is old enough and wants to the previous step.
                    if (currentIndex === 2 && priorIndex === 3) {
                        $(this).steps("上一个");
                    }
                },
                onFinishing: function(event, currentIndex) {
                    var form = $(this);

                    // Disable validation on fields that are disabled.
                    // At this point it's recommended to do an overall check (mean ignoring only disabled fields)
                    form.validate().settings.ignore = ":disabled";

                    // Start validation; Prevent form submission if false
                    return form.valid();
                },
                onFinished: function(event, currentIndex) {
                    var form = $(this);

                    // Submit form input
                    form.submit();
                }
            });
        });
    </script>
{% endblock %}