{% extends "admin/base.html" %}

{% block css %}

{% endblock %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>面板</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">主页</a>
            </li>
            <li>
                <a>UI元素</a>
            </li>
            <li class="active">
                <strong>面板</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeIn">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>基本面板 <small class="m-l-sm">这是定制面板</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h2>
                        这是标准面板<br>
                    </h2>
                    <p>
                        昨晚上坐出租车，刚走一会儿发现前面一美女拦车，司机马上减速。我心想和美女坐一起也不错。。。 结果师傅说：你下车吧，不收你钱。。。 </p>
                    <p>
                        <small>
                    昨晚上坐出租车，刚走一会儿发现前面一美女拦车，司机马上减速。我心想和美女坐一起也不错。。。
结果师傅说：你下车吧，不收你钱。。。
                </small>
                    </p>
                </div>
                <div class="ibox-footer">
                    <span class="pull-right">
              页脚的右侧
        </span> 这是简单的页脚示例
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox collapsed">
                <div class="ibox-title">
                    <h5>初始折叠面板的示例</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <p>
                        昨晚上坐出租车，刚走一会儿发现前面一美女拦车，司机马上减速。我心想和美女坐一起也不错。。。 结果师傅说：你下车吧，不收你钱。。。 </p>
                    <p>
                        昨晚上坐出租车，刚走一会儿发现前面一美女拦车，司机马上减速。我心想和美女坐一起也不错。。。 结果师傅说：你下车吧，不收你钱。。。
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>全屏选项示例</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="fullscreen-link">
                            <i class="fa fa-expand"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <p>
                        昨晚上坐出租车，刚走一会儿发现前面一美女拦车，司机马上减速。我心想和美女坐一起也不错。。。 结果师傅说：你下车吧，不收你钱。。。 </p>
                    <p>
                        昨晚上坐出租车，刚走一会儿发现前面一美女拦车，司机马上减速。我心想和美女坐一起也不错。。。 结果师傅说：你下车吧，不收你钱。。。
                    </p>
                </div>
            </div>
        </div>
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>示例导航条高度滚动</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="scroll_content">
                        <p>
                            内容内容<br>内容内容<br>内容内容<br>内容内容<br>内容内容
                        </p>

                        <p>
                            内容内容<br>内容内容<br>内容内容<br>内容内容<br>内容内容
                        </p>

                        <p>
                            内容内容<br>内容内容<br>内容内容<br>内容内容<br>内容内容
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>Bootstrap面板 <small>自定义背景颜色</small></h5>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    默认面板
                                </div>
                                <div class="panel-body">
                                    <p>昨晚上坐出租车，刚走一会儿发现前面一美女拦车，司机马上减速。我心想和美女坐一起也不错。。。 结果师傅说：你下车吧，不收你钱。。。
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-primary">
                                <div class="panel-heading">
                                    主要面板
                                </div>
                                <div class="panel-body">
                                    <p>昨晚上坐出租车，刚走一会儿发现前面一美女拦车，司机马上减速。我心想和美女坐一起也不错。。。 结果师傅说：你下车吧，不收你钱。。。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-success">
                                <div class="panel-heading">
                                    成功面板
                                </div>
                                <div class="panel-body">
                                    <p>昨晚上坐出租车，刚走一会儿发现前面一美女拦车，司机马上减速。我心想和美女坐一起也不错。。。 结果师傅说：你下车吧，不收你钱。。。
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-4">
                            <div class="panel panel-info">
                                <div class="panel-heading">
                                    <i class="fa fa-info-circle"></i> 信息面板
                                </div>
                                <div class="panel-body">
                                    <p>昨晚上坐出租车，刚走一会儿发现前面一美女拦车，司机马上减速。我心想和美女坐一起也不错。。。 结果师傅说：你下车吧，不收你钱。。。
                                    </p>
                                </div>

                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-warning">
                                <div class="panel-heading">
                                    <i class="fa fa-warning"></i> 警告面板
                                </div>
                                <div class="panel-body">
                                    <p>昨晚上坐出租车，刚走一会儿发现前面一美女拦车，司机马上减速。我心想和美女坐一起也不错。。。 结果师傅说：你下车吧，不收你钱。。。
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4">
                            <div class="panel panel-danger">
                                <div class="panel-heading">
                                    危险面板与页脚
                                </div>
                                <div class="panel-body">
                                    <p>昨晚上坐出租车，刚走一会儿发现前面一美女拦车，司机马上减速。我心想和美女坐一起也不错。。。 结果师傅说：你下车吧，不收你钱。。。
                                    </p>
                                </div>
                                <div class="panel-footer">
                                    面板页脚
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>折叠面板</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="panel-body">
                        <div class="panel-group" id="accordion">
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h5 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne">可折叠组项目 #1</a>
                                    </h5>
                                </div>
                                <div id="collapseOne" class="panel-collapse collapse in">
                                    <div class="panel-body">
                                        昨晚上坐出租车，刚走一会儿发现前面一美女拦车，司机马上减速。我心想和美女坐一起也不错。。。 结果师傅说：你下车吧，不收你钱。。。
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">可折叠组项目 #2</a>
                                    </h4>
                                </div>
                                <div id="collapseTwo" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        昨晚上坐出租车，刚走一会儿发现前面一美女拦车，司机马上减速。我心想和美女坐一起也不错。。。 结果师傅说：你下车吧，不收你钱。。。
                                    </div>
                                </div>
                            </div>
                            <div class="panel panel-default">
                                <div class="panel-heading">
                                    <h4 class="panel-title">
                                        <a data-toggle="collapse" data-parent="#accordion" href="#collapseThree">可折叠组项目 #3</a>
                                    </h4>
                                </div>
                                <div id="collapseThree" class="panel-collapse collapse">
                                    <div class="panel-body">
                                        昨晚上坐出租车，刚走一会儿发现前面一美女拦车，司机马上减速。我心想和美女坐一起也不错。。。 结果师傅说：你下车吧，不收你钱。。。
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="jumbotron">
                <h1>超大屏幕</h1>
                <p>昨晚上坐出租车，刚走一会儿发现前面一美女拦车，司机马上减速。我心想和美女坐一起也不错。。。 结果师傅说：你下车吧，不收你钱。。。
                </p>
                <p><a role="button" class="btn btn-primary btn-lg">查看更多</a>
                </p>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}

{% endblock %}