{% extends "admin/base.html" %}

{% block css %}
<link href="/statics/admin/css/custom.css" rel="stylesheet">
<link href="/statics/admin/css/bootstrap-chosen.css" rel="stylesheet">
<link href="/statics/admin/css/bootstrap-tagsinput.css" rel="stylesheet">
<link href="/statics/admin/css/cropper.min.css" rel="stylesheet">
<link href="/statics/admin/css/switchery.css" rel="stylesheet">
<link href="/statics/admin/css/jasny-bootstrap.min.css" rel="stylesheet">
<link href="/statics/admin/css/jquery.nouislider.css" rel="stylesheet">
<link href="/statics/admin/css/datepicker3.css" rel="stylesheet">
<link href="/statics/admin/css/ion.rangeSlider.css" rel="stylesheet"> <!--滑块-->
<link href="/statics/admin/css/ion.rangeSlider.skinFlat.css" rel="stylesheet">
<link href="/statics/admin/css/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="/statics/admin/css/clockpicker.css" rel="stylesheet">
<link href="/statics/admin/css/daterangepicker-bs3.css" rel="stylesheet">
<link href="/statics/admin/css/select2.min.css" rel="stylesheet">
{% endblock %}

{% block content %}
<div class="row wrapper border-bottom white-bg page-heading">
    <div class="col-lg-10">
        <h2>高级表单</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">主页</a>
            </li>
            <li>
                <a>表单</a>
            </li>
            <li class="active">
                <strong>高级表单</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>选择</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        选择选择用户可以从选择输入中选择较大。
                    </p>
                    <div class="form-group">
                        <label class="font-normal">基本例子</label>
                        <div>
                            <select data-placeholder="Choose a Country..." class="chosen-select" tabindex="2">
    <option value="">Select</option>
    <option value="Zambia">Zambia</option>
    <option value="Zimbabwe">Zimbabwe</option>
    </select>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="font-normal">多选</label>
                        <div>
                            <select data-placeholder="Choose a Country..." class="chosen-select" multiple="" style="width:350px;" tabindex="4">
    <option value="">Select</option>
    <option value="United States">United States</option>
    <option value="United Kingdom">United Kingdom</option>
    <option value="Afghanistan">Afghanistan</option>
    <option value="Aland Islands">Aland Islands</option>
    <option value="Albania">Albania</option>
    <option value="Bouvet Island">Bouvet Island</option>
    <option value="Brazil">Brazil</option>
    </select>
                        </div>
                    </div>

                </div>
            </div>

        </div>
        <div class="col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>范围滑块 <small>https://github.com/IonDen/ion.rangeSlider</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h3>
                        滑块
                    </h3>
                    <p>
                        是完美的范围选择选项。
                    </p>
                    <div class="m-b-sm">
                        <small><strong>示例:</strong> 将diapason从0设置为5000，将后缀“+”添加到最大值，将滑块类型设置为双，美元符号作为前缀，启用网格 </small>
                    </div>
                    <div id="ionrange_1"></div>

                    <div class="m-b-sm m-t">
                        <small><strong>示例:</strong> 将diapason从0设置为10，设置分数步长值：0.1，启用网格  </small>
                    </div>
                    <div id="ionrange_2"></div>

                    <div class="m-b-sm m-t">
                        <small><strong>示例:</strong> 将从零开始设置为-50到+50，将FROM值设置为0，将度数符号添加为后缀  </small>
                    </div>
                    <div id="ionrange_3"></div>

                    <div class="m-b-sm m-t">
                        <small><strong>示例:</strong>将常用滑块编号更改为自定义（月份名称）。使用值数组。数组可以是任意长度，Slider会自动修改min和max的数值，以适应数组的长度，Step参数也会被更改为1，允许在值中选择项数组 </small>
                    </div>
                    <div id="ionrange_4"></div>

                    <div>
                        <a class="btn btn-white pull-right btn-sm" href="javascript:;" target="_blank">阅读API</a>
                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox">
                <div class="ibox-title">
                    <h5>触摸旋转 <small>http://www.virtuosoft.eu/code/bootstrap-touchspin/</small></h5>
                </div>
                <div class="ibox-content">
                    <p>
                        用于Bootstrap 3的移动和触摸友好的输入微调器组件。它支持鼠标滚轮和上/下键。
                    </p>

                    <div class="row">
                        <div class="col-md-4">

                            <p class="font-bold">
                                具有空值的基本示例
                            </p>

                            <input class="touchspin1" type="text" value="" name="demo1">
                        </div>
                        <div class="col-md-4">
                            <p class="font-bold">
                                后缀示例
                            </p>
                            <input class="touchspin2" type="text" value="55" name="demo2">
                        </div>
                        <div class="col-md-4">

                            <p class="font-bold">
                                垂直按钮对齐示例：
                            </p>
                            <input class="touchspin3" type="text" value="" name="demo3">
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">

            <div class="ibox">
                <div class="ibox-title">
                    <h5>Select2 <small>https://select2.github.io/</small></h5>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-4">
                            <p>
                                Select2是一个基于jQuery的替代选择框。 可以选择常规选择框，并将其转换为：
                            </p>
                            <select class="select2_demo_1 form-control">
                            <option value="1">选项 1</option>
                            <option value="2">选项 2</option>
                            <option value="3">选项 3</option>
                            <option value="4">选项 4</option>
                            <option value="5">选项 5</option>
                        </select>
                        </div>

                        <div class="col-md-4">
                            <p>
                                可以定义占位符值，并显示，直到进行选择。
                            </p>
                            <select class="select2_demo_3 form-control">
                            <option></option>
                            <option value="Bahamas">Bahamas</option>
                            <option value="Bahrain">Bahrain</option>
                        </select>

                        </div>
                        <div class="col-md-4">
                            <p>
                                Select2还支持多值选择框。下面的选择用multiple属性声明。
                            </p>
                            <select class="select2_demo_2 form-control" multiple="multiple">
                            <option value="Mayotte">Mayotte</option>
                            <option value="Mexico">Mexico</option>
                        </select>

                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="row">

        <div class="col-lg-5">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>日期选择器 <small>https://github.com/eternicode/bootstrap-datepicker</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h3>
                        日期选择器
                    </h3>
                    <p>
                        使用鼠标轻松选择文字输入的时间。
                    </p>

                    <div class="form-group" id="data_1">
                        <label class="font-normal">简单的数据输入格式</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="03/04/2014">
                        </div>
                    </div>

                    <div class="form-group" id="data_2">
                        <label class="font-normal">今年</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="08/09/2014">
                        </div>
                    </div>

                    <div class="form-group" id="data_3">
                        <label class="font-normal">十年</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="10/11/2013">
                        </div>
                    </div>

                    <div class="form-group" id="data_4">
                        <label class="font-normal">本月</label>
                        <div class="input-group date">
                            <span class="input-group-addon"><i class="fa fa-calendar"></i></span><input type="text" class="form-control" value="07/01/2014">
                        </div>
                    </div>

                    <div class="form-group" id="data_5">
                        <label class="font-normal">范围选择</label>
                        <div class="input-daterange input-group" id="datepicker">
                            <input type="text" class="input-sm form-control" name="start" value="05/14/2014">
                            <span class="input-group-addon">至</span>
                            <input type="text" class="input-sm form-control" name="end" value="05/22/2014">
                        </div>
                    </div>
                </div>
            </div>
            <div class="ibox">
                <div class="ibox-title">
                    <h5>时钟选择器 <small>http://weareoutman.github.io/clockpicker/</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h3>
                        时钟选择器
                    </h3>
                    <p>
                        Bootstrap（或jQuery）的时钟计时风格。
                    </p>

                    <div class="input-group clockpicker" data-autoclose="true">
                        <input type="text" class="form-control" value="09:30">
                        <span class="input-group-addon">
                        <span class="fa fa-clock-o"></span>
                        </span>
                    </div>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>日期范围选择器 <small>http://www.daterangepicker.com/</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h3>
                        日期范围选择器
                    </h3>
                    <p>
                        用于选择日期范围的JavaScript小部件。 旨在与Bootstrap CSS框架配合使用。
                    </p>

                    <input class="form-control" type="text" name="daterange" value="01/01/2015 - 01/31/2015">

                    <h4>所有选项示例</h4>
                    <div id="reportrange" class="form-control">
                        <i class="fa fa-calendar"></i>
                        <span></span> <b class="caret"></b>
                    </div>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title  back-change">
                    <h5>选色器 <small>http://mjolnic.github.io/bootstrap-colorpicker/</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h3>
                        选色器
                    </h3>
                    <p>
                        用于Twitter Bootstrap工具包的Colorpicker插件。
                    </p>

                    <h5>作为正常输入</h5>
                    <input type="text" class="form-control demo1" value="#5367ce">
                    <h5>作为链接</h5>
                    <a data-color="rgb(255, 255, 255)" id="demo_apidemo" class="btn btn-white btn-block colorpicker-element" href="#">更改背景颜色</a>
                    <br>
                </div>
            </div>

            <div class="ibox">
                <div class="ibox-title">
                    <h5>引导标签输入</h5>
                </div>
                <div class="ibox-content">
                    <p>
                        jQuery插件提供了一个用于管理标签的Twitter Bootstrap用户界面
                    </p>


                    <p class="font-bold">
                        几个初始标签的基本示例
                    </p>

                    <input class="tagsinput form-control" type="text" value="Amsterdam,Washington,Sydney,Beijing,Cairo">


                </div>
            </div>

        </div>
        <div class="col-lg-7">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>输入掩码 <small>http://jasny.github.io/bootstrap/</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h3>
                        输入掩码
                    </h3>
                    <p>
                        输入掩码允许用户更容易地输入您希望他们以特定格式输入数据的数据。
                    </p>
                    <form class="form-horizontal m-t-md" action="#">
                        <div class="form-group">
                            <label class="col-sm-2 col-sm-2 control-label">ISBN 1</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" data-mask="999-99-999-9999-9" placeholder="">
                                <span class="help-block">999-99-999-9999-9</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ISBN 2</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" data-mask="999 99 999 9999 9" placeholder="">
                                <span class="help-block">999 99 999 9999 9</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">ISBN 3</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" data-mask="999/99/999/9999/9" placeholder="">
                                <span class="help-block">999/99/999/9999/9</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">IPV4</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" data-mask="999.999.999.9999" placeholder="">
                                <span class="help-block">192.168.100.200</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">税号</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" data-mask="99-9999999" placeholder="">
                                <span class="help-block">99-9999999</span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">电话</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" data-mask="(999) 999-9999" placeholder="">
                                <span class="help-block">(999) 999-9999</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">货币</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" data-mask="$ 999,999,999.99" placeholder="">
                                <span class="help-block">$ 999,999,999.99</span>
                            </div>
                        </div>
                        <div class="hr-line-dashed"></div>
                        <div class="form-group">
                            <label class="col-sm-2 control-label">日期</label>
                            <div class="col-sm-10">
                                <input type="text" class="form-control" data-mask="99/99/9999" placeholder="">
                                <span class="help-block">dd/mm/yyyy</span>
                            </div>
                        </div>
                    </form>
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>切换器 <small>http://abpetkov.github.io/switchery/</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h3>
                        切换器
                    </h3>
                    <p>
                        您的复选框是iOS 7风格的开关。
                    </p>
                    <input type="checkbox" class="js-switch" checked="">
                    <input type="checkbox" class="js-switch_2" checked="">
                    <br>
                    <br>
                    <input type="checkbox" class="js-switch_3">
                    <input type="checkbox" class="js-switch_4" checked="">
                </div>
            </div>

            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>自定义开关 </h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <h4>
                        自定义开关
                    </h4>
                    <p>
                        纯CSS3 开/关切换闪光动画。
                    </p>
                    <div class="switch">
                        <div class="onoffswitch">
                            <input type="checkbox" checked="" class="onoffswitch-checkbox" id="example1">
                            <label class="onoffswitch-label" for="example1">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                        </div>
                    </div>

                    <div class="switch">
                        <div class="onoffswitch">
                            <input type="checkbox" class="onoffswitch-checkbox" id="example2">
                            <label class="onoffswitch-label" for="example2">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                        </div>
                    </div>

                    <div class="switch">
                        <div class="onoffswitch">
                            <input type="checkbox" checked="" disabled="" class="onoffswitch-checkbox" id="example3">
                            <label class="onoffswitch-label" for="example3">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                        </div>
                    </div>

                    <div class="switch">
                        <div class="onoffswitch">
                            <input type="checkbox" disabled="" class="onoffswitch-checkbox" id="example4">
                            <label class="onoffswitch-label" for="example4">
                            <span class="onoffswitch-inner"></span>
                            <span class="onoffswitch-switch"></span>
                        </label>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title  back-change">
                    <h5>图像裁剪器 <small>http://fengyuanchen.github.io/cropper/</small></h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <p>
                        一个简单的jQuery图像裁剪插件。
                    </p>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="image-crop">
                                <img src="/statics/admin/picture/p3.jpg">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h4>预览图像</h4>
                            <div class="img-preview img-preview-sm"></div>
                            <h4>常用方法</h4>
                            <p>
                                您可以将新图像上传到裁剪容器，并轻松下载新的裁剪图像。
                            </p>
                            <div class="btn-group">
                                <label title="Upload image file" for="inputImage" class="btn btn-primary">
                            <input type="file" accept="image/*" name="file" id="inputImage" class="hide">
                           上传新图片
                        </label>
                                <label title="Donload image" id="download" class="btn btn-primary">下载</label>
                            </div>
                            <h4>其他方法</h4>
                            <p>
                                您可以设置裁剪器选项 <code>$(image}).cropper(options)</code>
                            </p>
                            <div class="btn-group">
                                <button class="btn btn-white" id="zoomIn" type="button">放大</button>
                                <button class="btn btn-white" id="zoomOut" type="button">缩小</button>
                                <button class="btn btn-white" id="rotateLeft" type="button">向左旋转</button>
                                <button class="btn btn-white" id="rotateRight" type="button">向右旋转</button>
                                <button class="btn btn-warning" id="setDrag" type="button">新滤镜</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title  back-change">
                    <h5>Awesome bootstrap复选框</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                            <li><a href="#">选项 1</a>
                            </li>
                            <li><a href="#">选项 2</a>
                            </li>
                        </ul>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">

                    <div class="row">
                        <div class="col-md-4">
                            <fieldset>
                                <h3>
                                    基本
                                </h3>
                                <p>
                                    支持引导牌颜色: <code>.checkbox-primary</code>, <code>.checkbox-info</code> 等.
                                </p>
                                <div class="checkbox">
                                    <input id="checkbox1" type="checkbox">
                                    <label for="checkbox1">
                                    默认
                                </label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input id="checkbox2" type="checkbox" checked="">
                                    <label for="checkbox2">
                                    主要
                                </label>
                                </div>
                                <div class="checkbox checkbox-success">
                                    <input id="checkbox3" type="checkbox">
                                    <label for="checkbox3">
                                    成功
                                </label>
                                </div>
                                <div class="checkbox checkbox-info">
                                    <input id="checkbox4" type="checkbox">
                                    <label for="checkbox4">
                                    信息
                                </label>
                                </div>
                                <div class="checkbox checkbox-warning">
                                    <input id="checkbox5" type="checkbox" checked="">
                                    <label for="checkbox5">
                                    警告
                                </label>
                                </div>
                                <div class="checkbox checkbox-danger">
                                    <input id="checkbox6" type="checkbox" checked="">
                                    <label for="checkbox6">
                                    进行检查
                                </label>
                                </div>
                                <p>没有标签文本的复选框</p>
                                <div class="checkbox">
                                    <input type="checkbox" id="singleCheckbox1" value="option1" aria-label="Single checkbox One">
                                    <label></label>
                                </div>
                                <div class="checkbox checkbox-primary">
                                    <input type="checkbox" id="singleCheckbox2" value="option2" checked="" aria-label="Single checkbox Two">
                                    <label></label>
                                </div>
                                <p>内联复选框</p>
                                <div class="checkbox checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox1" value="option1">
                                    <label for="inlineCheckbox1"> 内联一 </label>
                                </div>
                                <div class="checkbox checkbox-success checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox2" value="option1" checked="">
                                    <label for="inlineCheckbox2"> 内联二 </label>
                                </div>
                                <div class="checkbox checkbox-inline">
                                    <input type="checkbox" id="inlineCheckbox3" value="option1">
                                    <label for="inlineCheckbox3"> 内联三 </label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <h3>
                                    盘旋
                                </h3>
                                <p>
                                    <code>.checkbox-circle</code> 圆度
                                </p>
                                <div class="checkbox checkbox-circle">
                                    <input id="checkbox7" type="checkbox">
                                    <label for="checkbox7">
                                    简单的圆
                                </label>
                                </div>
                                <div class="checkbox checkbox-info checkbox-circle">
                                    <input id="checkbox8" type="checkbox" checked="">
                                    <label for="checkbox8">
                                    简单圆圆
                                </label>
                                </div>
                            </fieldset>
                        </div>
                        <div class="col-md-4">
                            <fieldset>
                                <h3>
                                    Radios
                                </h3>
                                <p>
                                    支持引导牌颜色： <code>.radio-primary</code>, <code>.radio-danger</code> 等.
                                </p>
                                <div class="row">
                                    <div class="col-sm-6">
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio1" value="option1" checked="">
                                            <label for="radio1">
                                            小
                                        </label>
                                        </div>
                                        <div class="radio">
                                            <input type="radio" name="radio1" id="radio2" value="option2">
                                            <label for="radio2">
                                            大
                                        </label>
                                        </div>
                                    </div>
                                    <div class="col-sm-6">
                                        <div class="radio radio-danger">
                                            <input type="radio" name="radio2" id="radio3" value="option1">
                                            <label for="radio3">
                                            下一个
                                        </label>
                                        </div>
                                        <div class="radio radio-danger">
                                            <input type="radio" name="radio2" id="radio4" value="option2" checked="">
                                            <label for="radio4">
                                            上一个
                                        </label>
                                        </div>
                                    </div>
                                </div>
                                <p>Radios无标签文字</p>
                                <div class="radio">
                                    <input type="radio" id="singleRadio1" value="option1" name="radioSingle1" aria-label="Single radio One">
                                    <label></label>
                                </div>
                                <div class="radio radio-success">
                                    <input type="radio" id="singleRadio2" value="option2" name="radioSingle1" checked="" aria-label="Single radio Two">
                                    <label></label>
                                </div>
                                <p>Radios内联</p>
                                <div class="radio radio-info radio-inline">
                                    <input type="radio" id="inlineRadio1" value="option1" name="radioInline" checked="">
                                    <label for="inlineRadio1"> 内联一 </label>
                                </div>
                                <div class="radio radio-inline">
                                    <input type="radio" id="inlineRadio2" value="option2" name="radioInline">
                                    <label for="inlineRadio2"> 内联二 </label>
                                </div>
                            </fieldset>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}


{% block js %}
<!-- Chosen -->
<script src="/statics/admin/js/chosen.jquery.js"></script>
<!-- Input Mask-->
<script src="/statics/admin/js/jasny-bootstrap.min.js"></script>
<!-- Data picker -->
<script src="/statics/admin/js/bootstrap-datepicker.js"></script>
<!-- Switchery -->
<script src="/statics/admin/js/switchery.js"></script>
<!-- IonRangeSlider -->
<script src="/statics/admin/js/ion.rangeSlider.min.js"></script>
<!-- iCheck -->
<script src="/statics/admin/js/icheck.min.js"></script>
<!-- Color picker -->
<script src="/statics/admin/js/bootstrap-colorpicker.min.js"></script>
<!-- Clock picker -->
<script src="/statics/admin/js/clockpicker.js"></script>
<!-- Image cropper -->
<script src="/statics/admin/js/cropper.min.js"></script>
<!-- Date range use moment.js same as full calendar plugin -->
<script src="/statics/admin/js/moment.min.js"></script>
<!-- Date range picker -->
<script src="/statics/admin/js/daterangepicker.js"></script>
<!-- Select2 -->
<script src="/statics/admin/js/select2.full.min.js"></script>
<!-- TouchSpin -->
<script src="/statics/admin/js/jquery.bootstrap-touchspin.min.js"></script>
<!-- Tags Input -->
<script src="/statics/admin/js/bootstrap-tagsinput.js"></script>

<script>
    $(document).ready(function() {

        $('.tagsinput').tagsinput({
            tagClass: 'label label-primary'
        });

        var $image = $(".image-crop > img")
        $($image).cropper({
            aspectRatio: 1.618,
            preview: ".img-preview",
            done: function(data) {
                // Output the result data for cropping image.
            }
        });

        var $inputImage = $("#inputImage");
        if (window.FileReader) {
            $inputImage.change(function() {
                var fileReader = new FileReader(),
                    files = this.files,
                    file;

                if (!files.length) {
                    return;
                }

                file = files[0];

                if (/^image\/\w+$/.test(file.type)) {
                    fileReader.readAsDataURL(file);
                    fileReader.onload = function() {
                        $inputImage.val("");
                        $image.cropper("reset", true).cropper("replace", this.result);
                    };
                } else {
                    showMessage("请选择一个图像文件。");
                }
            });
        } else {
            $inputImage.addClass("hide");
        }

        $("#download").click(function() {
            window.open($image.cropper("getDataURL"));
        });

        $("#zoomIn").click(function() {
            $image.cropper("zoom", 0.1);
        });

        $("#zoomOut").click(function() {
            $image.cropper("zoom", -0.1);
        });

        $("#rotateLeft").click(function() {
            $image.cropper("rotate", 45);
        });

        $("#rotateRight").click(function() {
            $image.cropper("rotate", -45);
        });

        $("#setDrag").click(function() {
            $image.cropper("setDragMode", "crop");
        });

        $('#data_1 .input-group.date').datepicker({
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            calendarWeeks: true,
            autoclose: true
        });

        $('#data_2 .input-group.date').datepicker({
            startView: 1,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true,
            format: "yyyy/dd/mm"
        });

        $('#data_3 .input-group.date').datepicker({
            startView: 2,
            todayBtn: "linked",
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });

        $('#data_4 .input-group.date').datepicker({
            minViewMode: 1,
            keyboardNavigation: false,
            forceParse: false,
            forceParse: false,
            autoclose: true,
            todayHighlight: true
        });

        $('#data_5 .input-daterange').datepicker({
            keyboardNavigation: false,
            forceParse: false,
            autoclose: true
        });

        var elem = document.querySelector('.js-switch');
        var switchery = new Switchery(elem, {
            color: '#1AB394'
        });

        var elem_2 = document.querySelector('.js-switch_2');
        var switchery_2 = new Switchery(elem_2, {
            color: '#ED5565'
        });

        var elem_3 = document.querySelector('.js-switch_3');
        var switchery_3 = new Switchery(elem_3, {
            color: '#1AB394'
        });

        var elem_4 = document.querySelector('.js-switch_4');
        var switchery_4 = new Switchery(elem_4, {
            color: '#f8ac59'
        });
        switchery_4.disable();

        $('.i-checks').iCheck({
            checkboxClass: 'icheckbox_square-green',
            radioClass: 'iradio_square-green'
        });

        $('.demo1').colorpicker();

        var divStyle = $('.back-change')[0].style;
        $('#demo_apidemo').colorpicker({
            color: divStyle.backgroundColor
        }).on('changeColor', function(ev) {
            divStyle.backgroundColor = ev.color.toHex();
        });

        $('.clockpicker').clockpicker();

        $('input[name="daterange"]').daterangepicker();

        $('#reportrange span').html(moment().subtract(29, 'days').format('YYYY,D MMMM') + ' - ' + moment().format('YYYY,D MMMM'));

        $('#reportrange').daterangepicker({
            format: 'YYYY/DD/MM',
            startDate: moment().subtract(29, 'days'),
            endDate: moment(),
            minDate: '2012/01/01',
            maxDate: '2015/12/31',
            dateLimit: {
                days: 60
            },
            showDropdowns: true,
            showWeekNumbers: true,
            timePicker: false,
            timePickerIncrement: 1,
            timePicker12Hour: true,
            ranges: {
                '今天': [moment(), moment()],
                '昨天': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                '最近7天': [moment().subtract(6, 'days'), moment()],
                '最近30天': [moment().subtract(29, 'days'), moment()],
                '本月': [moment().startOf('month'), moment().endOf('month')],
                '上月': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
            },
            opens: 'right',
            drops: 'down',
            buttonClasses: ['btn', 'btn-sm'],
            applyClass: 'btn-primary',
            cancelClass: 'btn-default',
            separator: ' 至 ',
            locale: {
                applyLabel: '提交',
                cancelLabel: '取消',
                fromLabel: '从',
                toLabel: '至',
                customRangeLabel: '习俗',
                daysOfWeek: ['日', '一', '二', '三', '四', '五', '六'],
                monthNames: ['一月', '二月', '三月', '四月', '五月', '六月', '七月', '八月', '九月', '十月', '十一月', '十二月'],
                firstDay: 1
            }
        }, function(start, end, label) {
            console.log(start.toISOString(), end.toISOString(), label);
            $('#reportrange span').html(start.format('YYYY,D MMMM') + ' - ' + end.format('YYYY,D MMMM'));
        });

        $(".select2_demo_1").select2();
        $(".select2_demo_2").select2();
        $(".select2_demo_3").select2({
            placeholder: "选择一个状态",
            allowClear: true
        });


        $(".touchspin1").TouchSpin({
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });

        $(".touchspin2").TouchSpin({
            min: 0,
            max: 100,
            step: 0.1,
            decimals: 2,
            boostat: 5,
            maxboostedstep: 10,
            postfix: '%',
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });

        $(".touchspin3").TouchSpin({
            verticalbuttons: true,
            buttondown_class: 'btn btn-white',
            buttonup_class: 'btn btn-white'
        });

        $('.dual_select').bootstrapDualListbox({
            selectorMinimalHeight: 160
        });


    });

    $('.chosen-select').chosen({
        width: "100%"
    });

    $("#ionrange_1").ionRangeSlider({
        min: 0,
        max: 5000,
        type: 'double',
        prefix: "$",
        maxPostfix: "+",
        prettify: false,
        hasGrid: true
    });

    $("#ionrange_2").ionRangeSlider({
        min: 0,
        max: 10,
        type: 'single',
        step: 0.1,
        postfix: "克拉",
        prettify: false,
        hasGrid: true
    });

    $("#ionrange_3").ionRangeSlider({
        min: -50,
        max: 50,
        from: 0,
        postfix: "值",
        prettify: false,
        hasGrid: true
    });

    $("#ionrange_4").ionRangeSlider({
        values: [
            "一月", "二月", "三月",
            "四月", "五月", "六月",
            "七月", "八月", "九月",
            "十月", "十一月", "十二月"
        ],
        type: 'single',
        hasGrid: true
    });

    $("#ionrange_5").ionRangeSlider({
        min: 10000,
        max: 100000,
        step: 100,
        postfix: " km",
        from: 55000,
        hideMinMax: true,
        hideFromTo: false
    });

    $(".dial").knob();

    var basic_slider = document.getElementById('basic_slider');

    noUiSlider.create(basic_slider, {
        start: 40,
        behaviour: 'tap',
        connect: 'upper',
        range: {
            'min': 20,
            'max': 80
        }
    });

    var range_slider = document.getElementById('range_slider');

    noUiSlider.create(range_slider, {
        start: [40, 60],
        behaviour: 'drag',
        connect: true,
        range: {
            'min': 20,
            'max': 80
        }
    });

    var drag_fixed = document.getElementById('drag-fixed');

    noUiSlider.create(drag_fixed, {
        start: [40, 60],
        behaviour: 'drag-fixed',
        connect: true,
        range: {
            'min': 20,
            'max': 80
        }
    });
</script>
{% endblock %}